{% extends 'ScorekeeperBundle::base.html.twig' %}

{% block title %}SP SCOREKEEPER{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/league.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <h1>{{ league.name }}</h1>

    {% set nr=0 %}
    <table class="result_table">
        <colgroup>
            <col>
            <col>
            <col style="width:40px">
            <col style="width:40px">
            <col width="30px">
            <col width="30px">
            <col>
        </colgroup>
        <colgroup>
            {% for n in 1..25 %}<col width="30px">{% endfor %}
        </colgroup>
        <tr>
            <th>#</th>
            <th>naam</th>
            <th>sum</th>
            <th>ave</th>
            <th>hi</th>
            <th>lo</th>
            <th></th>
            {% for n in 1..25 %}<th>{{ n }}</th>{% endfor %}
        </tr>
        {% for shooter in shooters %}
            {% set nr=nr+1 %}
            <tr>
                <td>{{ nr }}.</td>
                <td>{{ shooter.user.name }}</td>
                <td>{{ shooter.sum }}</td>
                <td>{{ shooter.ave|number_format(1) }}</td>
                <td>{{ shooter.max }}</td>
                <td>{{ shooter.min }}</td>
                <td></td>
                {% for key in shooter.results|keys %}
                    <td>
                        <span title="{{ shooter.results[key].contest.date|date('Y/m/d') }}">
                            <span style="color:{{ key in shooter.nocount ? 'red' : 'green' }}">{{ shooter.results[key].total }}</span>
                        </span>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <p>&nbsp;</p>
    {# dump(shooters) #}
    {#
        {{ dump(league) }}
        {{ dump(users) }}
        {{ dump(results) }}
        {{ dump(info) }}
    #}
    <!-- <p><a href="{{ path('league_email',{'league_id':league.id} ) }}">Email deze competitie naar alle deelnemers.</a></p> -->
{% endblock %}


