{% extends 'ScorekeeperBundle::base.html.twig' %}

{% block title %}SP SCOREKEEPER{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/result.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1>Scores</h1>
    <table class="result_table">
        <tr>
            <th></th>
            <th>Datum</th>
            <th>Schutter</th>
            <th>score</th>
                {% for n in 10..6 %}
                <th width="20">{{ n }}</th>
                {% endfor %}
        </tr>
        {% for result in results %}
            <tr class="result_tr">
                <td>{{ result.id }}</td>
                <td>{{ result.contest.date|date("Y/m/d") }}</td>
                <td>{{ result.user.name }}</td>
                <td>{{ result.total }}</td>
                {% for shot in result.details|split(',') %}
                    <td>{{ shot }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
