
{{ form_start(form) }}
<tr>
    <td>{{ form_widget(form.user) }}</td>
    <td>{{ form_widget(form.s10) }}</td>
    <td>{{ form_widget(form.s09) }}</td>
    <td>{{ form_widget(form.s08) }}</td>
    <td>{{ form_widget(form.s07) }}</td>
    <td>{{ form_widget(form.s06) }}</td>
    <td>{{ form_widget(form.total) }}</td>
    <td>{{ form_widget(form.save) }}</td>
</tr>
{{ form_end(form) }}

<script language="JavaScript">
    function calctotal() {
        document.getElementById('result_total').value =
                +10 * document.getElementById('result_s10').value
                + 9 * document.getElementById('result_s09').value
                + 8 * document.getElementById('result_s08').value
                + 7 * document.getElementById('result_s07').value
                + 6 * document.getElementById('result_s06').value
                ;
    }
    function cleardetails() {
        document.getElementById('result_s10').value = "";
        document.getElementById('result_s09').value = "";
        document.getElementById('result_s08').value = "";
        document.getElementById('result_s07').value = "";
        document.getElementById('result_s06').value = "";
    }
</script>
