{% extends 'ScorekeeperBundle::base.html.twig' %}

{% block title %}SP SCOREKEEPER{% endblock %}

{% block body %}
    <form>
        <select id="SelectURL">
            {% for c in contests %}
                <option value="{{ c.id }}"{% if c.id==contest.id %} selected{% endif%}>{{ c.date|date('Y/m/d') }}</option>
            {% endfor %}
        </select>
    </form>

    <script>
        var s = document.getElementById("SelectURL");
        s.onchange = function () {
            var route = "{{ path('contest_view',{'contest_id':"PLACEHOLDER"}) }}";
            window.location = route.replace("PLACEHOLDER", s.options[s.selectedIndex].value);
        };
    </script> 

    <h1>{{ contest.date|date('Y/m/d') }}</h1>

    <p>
    <table>
        <tr>
            <th>Schutter</th>
                {% for n in 10..6 %}
                <th width="20">{{ n }}</th>
                {% endfor %}
            <th width="40">tot</th>
        </tr>
        {% for result in results %}
            <tr>
                <td>{{ result.user.name }}</td>

                {% if result.details %}
                    {% for shot in result.details|split(' ') %}
                        <td align="center">{{ shot }}</td>
                    {% endfor %}
                {% else %}
                    {% for n in 10..6 %}
                        <td></td>
                    {% endfor %}
                {% endif %}    

                <td align="right">{{ result.total }}</td>

                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('result_delete',{'result_id':result.id }) }}">delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}

        {% if app.user and is_granted('ROLE_ADMIN') %}
            {{ render(controller('ScorekeeperBundle:Result:new',{'result_id':1})) }}
        {% endif %}

    </table>
</p>

{% endblock %}
