{% extends 'ScorekeeperBundle::base.html.twig' %}

{% block title %}SP SCOREKEEPER{% endblock %}

{% block body %}
    <select name="id" onChange="post">
        {% for c in contests %}
            <option value="{{ c.id }}"{% if c.id==contest.id %} selected{% endif%}>{{ c.date|date('Y/m/d') }}</option>
        {% endfor %}
    </select>
    <h1>{{ contest.date|date('Y/m/d') }}</h1>
    <p>
    <table>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                {% for result in results[user.id] %}
                    {% for score in result %}
                        <td>
                            {{ score.total }}
                        </td>
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</p>
{% endblock %}
