<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SP SCOREKEEPER{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>

        <div id="top">TOP</div>

        <div id="menu">
            <p>
                <a href="{{path('homepage')}}">Home</a><br>
                <br>
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <a href="{{path('user')}}">Schutters</a><br>
                {% endif %}
                {% if app.user and is_granted('ROLE_USER') %}
                    <a href="{{path('league')}}">Competities</a><br>
                {% endif %}
                {% if app.user and is_granted('ROLE_USER') %}
                    <a href="{{path('contest')}}">Wedstrijden</a><br>
                {% endif %}
                {% if app.user and is_granted('ROLE_USER') %}
                    <a href="{{path('result')}}">Scores</a><br>
                {% endif %}
            </p>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <p>
                    {{ app.user.username }}<br>
                    <a href="{{path('logout')}}">logout</a>
                </p>
            {% endif %}
            <p>
                <a href="{{path('login_route')}}">login</a><br>
            </p>

        </div>

        <div id="content">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% block body %}
            {% endblock %}
        </div>

        {% block javascripts %}
        {% endblock %}

    </body>

</html>
