{% extends 'ScorekeeperBundle::base.html.twig' %}

{% block title %}SP SCOREKEEPER{% endblock %}

{% block body %}
    <h1>Schutters</h1>

    <table>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.isActive }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
