{% extends 'ScorekeeperBundle::base.html.twig' %}

{% block title %}SP SCOREKEEPER{% endblock %}

{% block head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawVisualization);

        {% set nr = 0 %}
            function drawVisualization() {
                // Some raw data (not necessarily accurate)
                var data = google.visualization.arrayToDataTable([
                    ['score', 'nr'],
        {% for data in histogram %}
            {% set nr = nr + 1 %}
                    [{{nr}},{{ data }} ],
        {% endfor %}

                ]);
                var options = {
                    title: 'Scores',
                    vAxis: {title: 'Score'},
                    hAxis: {title: 'Nr'},
                    seriesType: 'bars',
                    //series: {5: {type: 'line'}}
                    hAxis: {viewWindow: {min: 140, max: 240}}
                };

                var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }
    </script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawVisualization);

        {% set nr = 0 %}
            function drawVisualization() {
                // Some raw data (not necessarily accurate)
                var data = google.visualization.arrayToDataTable([
                    ['nr', 'score'],
        {% for result in results %}
            {% set nr = nr + 1 %}
                    [{{nr}},{{ result.total }} ],
        {% endfor %}

                ]);
                var options = {
                    title: 'Scores',
                    vAxis: {title: 'Score'},
                    hAxis: {title: 'Nr'},
                    seriesType: 'bars',
                    //series: {5: {type: 'line'}}
                    vAxis: {viewWindow: {min: 140, max: 240}}
                };

                var chart = new google.visualization.ComboChart(document.getElementById('chart2_div'));
                chart.draw(data, options);
            }
    </script>
{% endblock %}

{% block body %}
    <table>
        <!--
        <tr>
            <td>username:</td>
            <td>{{ user.username }}</td>
        </tr>
        -->
        <tr>
            <td>name:</td>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <td>email:</td>
            <td>{{ user.email }}</td>
        </tr>
        <!--
        <tr>
            <td>active:</td>
            <td>{{ user.isActive }}</td>
        </tr>
        <tr>
            <td>roles:</td>
        {% for role in user.roles %}
            <td>.</td>
        {% endfor %}
    </tr>
        -->
    </table>

    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <div id="chart2_div" style="width: 900px; height: 500px;"></div>

{% endblock %}